@import "tailwindcss";
@plugin "daisyui" {
	themes: all;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
	min-height: 100dvh;

	line-height: 1.5;
}

